* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

$white: #fff;
$black: #000;
$red: #ff0000;

$font-12px: 12px;
$font-14px: 14px;

.container {
    .menu {
        font-family: "Inter", sans-serif;
        background: $black;
        .navbar {
            height: 8vh;
            width: 1110px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__items {
                width: 25%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .items__live {
                    display: flex;
                    width: 145px;
                    height: 38px;
                    align-items: center;
                    background: $white;
                    border-radius: 30px;
                    .live__img {
                        background-color: $red;
                        width: 36px;
                        height: 36px;
                        border: 5px solid $white;
                        border-radius: 100%;
                    }
                    .live__text {
                        font-weight: 600;
                        color: $red;
                        padding: 0 0.5rem;
                        font-size: 14px;
                    }
                }
                .items__lang {
                    display: flex;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    padding: 1rem 0;
                    .lang__img {
                        width: 31px;
                        height: 31px;
                    }
                    .items__text {
                        color: $white;
                        font-size: $font-14px;
                        font-weight: 600;
                        padding: 0 0.8rem;
                    }
                    .dropdown {
                        display: none;
                        position: absolute;
                        transform: translateY(70%);
                        top: 0%;
                        left: 0;
                        background-color: $black;
                        padding: 0.5rem 0;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.075);
                        z-index: 1;
                        .langs {
                            padding-left: 0.5rem;
                            display: block;
                            color: $white;
                            font-size: $font-14px;
                            font-weight: 500;
                            line-height: 26px;
                            position: relative;
                        }
                        .langs::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 0;
                            transition: all 500ms ease;
                            background: $white;
                            height: 2px;
                        }
                        .langs:hover::after {
                            left: 0;
                            transition: all 500ms ease;
                            width: 100%;
                        }
                    }
                }
                .items__lang:hover .dropdown {
                    display: block;
                }
            }
            .logotip {
                width: 13%;
            }
            .navbar__settings {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 30%;

                .search__user {
                    width: 31px;
                }
                .search {
                    width: 31px;
                }
            }
        }
    }
    .main {
        font-family: "Roboto", sans-serif;
        height: 92vh;
        width: 1110px;
        position: relative;
        margin: 0.2rem auto;
        .covid {
            width: 100%;
            &__content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .content__text {
                    width: 15%;
                    font-size: $font-14px;
                    font-weight: 400;
                }
                .infection {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 15%;
                    .covid__infection {
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        .infect__img {
                            width: 26px;
                            height: 26px;
                        }
                        .infect__result {
                            line-height: 18px;
                            .infected {
                                display: flex;
                                align-items: center;
                                .illness {
                                    font-size: $font-12px;
                                    font-weight: 500;
                                }
                                .arr {
                                    margin-left: 0.2rem;
                                    width: 16px;
                                    height: 8px;
                                }
                            }
                            .confirmed {
                                color: $black;
                                font-size: $font-12px;
                                font-weight: 700;
                            }
                            .deaths {
                                color: $black;
                                font-size: $font-12px;
                                font-weight: 700;
                            }
                            .recover {
                                color: $black;
                                font-size: $font-12px;
                                font-weight: 700;
                            }
                        }
                    }
                }
                .country {
                    width: 17%;

                    .name {
                        color: $black;
                        font-size: $font-14px;
                        font-weight: 700;
                        position: relative;
                    }
                    .name::before {
                        position: absolute;
                        top: 23%;
                        left: -8%;
                        content: "";
                        border: 1px solid $red;
                        width: 6px;
                        height: 6px;
                        border-radius: 100%;
                        background-color: $red;
                    }
                }
                .news__more {
                    color: $red;
                    font-size: $font-14px;
                    font-weight: 700;
                    position: relative;
                    transition: all 500ms ease;
                }
                .news__more::after {
                    position: absolute;
                    content: "";
                    width: 0%;
                    bottom: -20%;
                    left: 0;
                    height: 2px;
                    background-color: #0688e5;
                    transition: all 500ms ease;
                }
                .news__more:hover {
                    color: #0688e5;
                }

                .news__more:hover::after {
                    width: 100%;
                    transition: all 500ms ease;
                }
            }
        }
        .main__change {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border-top: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            .change__year {
                width: 26%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .weak {
                    font-size: $font-12px;
                    color: $black;
                    font-weight: 700;
                }
                .weather {
                    display: flex;
                    align-items: center;
                    .weather__img {
                        width: 38px;
                        height: 42px;
                        margin: 0.5rem;
                    }
                    .deg {
                        .degre {
                            font-size: $font-14px;
                            font-weight: $font-14px;
                            color: $black;
                            position: relative;
                            font-weight: 700;
                        }

                        .degrees {
                            font-size: $font-12px;
                            color: $black;
                            font-weight: 700;
                        }
                    }
                }
                .region {
                    font-size: $font-12px;
                    color: $black;
                    font-weight: 400;
                }
            }
            .dollar {
                width: 54%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                .border {
                    height: 48px;
                    border: 1px solid#D9D9D9;
                }
                .cost {
                    width: 17%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .arr {
                        width: 16px;
                        height: 8px;
                    }
                    .changing {
                        font-size: $font-12px;
                        font-weight: 700;
                        color: $black;
                    }
                }
            }
            .weakdays {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 20%;
                .weakday {
                    font-size: $font-12px;
                    font-weight: 700;
                }
                .day {
                    font-size: 32px;
                    font-weight: 400;
                }
                .month__year {
                    font-size: $font-12px;
                    font-weight: 400;
                }
            }
        }
        .news {
            padding: 1rem 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid #d9d9d9;

            .big__news {
                width: 40%;
                .news__bigcontent {
                    // width: 83%;

                    .breaking__news {
                        display: flex;
                        align-items: center;
                        margin-bottom: 1rem;
                        .arrs {
                            width: 16px;
                            height: 17px;
                            margin-right: 0.5rem;
                        }
                        .breaking__title {
                            color: $black;
                            font-weight: 700;
                            font-size: 22px;
                        }
                    }
                    .breaking__img {
                        .content__img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .meta {
                        width: 45%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 0.5rem 0;
                        .meta__days {
                            display: flex;
                            align-items: center;

                            .meta__img {
                                width: 19px;
                                margin-right: 0.25rem;
                            }
                            .meta__date {
                                color: #808080;
                                font-size: $font-14px;
                                font-weight: 400;
                            }
                        }
                        .meta__seen {
                            display: flex;
                            align-items: center;

                            .meta__img {
                                width: 19px;
                                // height: 13px;
                                margin-right: 0.25rem;
                            }
                            .meta__seens {
                                color: #808080;
                                font-size: $font-14px;
                                font-weight: 400;
                            }
                        }
                    }
                    .breaking__text {
                        .text__title {
                            font-size: 22px;
                            font-weight: 600;
                            color: $black;
                            position: relative;
                        }

                        .text__title:hover {
                            color: #0070e0;
                        }
                        .text__text {
                            width: 100%;
                            font-weight: 400;
                            color: $black;
                            font-size: 17px;
                            line-height: 22px;
                            margin: 0.5rem 0;
                        }
                    }
                    .news__made {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 25%;
                        .country {
                            color: #808080;
                            font-size: $font-12px;
                        }
                    }
                }
            }
            .border {
                // margin-left: 2.5rem;
                border: 1px solid #d9d9d9;
                height: 650px;
            }
            .small__news {
                width: 49%;
                .small__link {
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;
                    .arrs {
                        width: 16px;
                        height: 17px;
                        margin-right: 0.5rem;
                    }
                    .small__title {
                        color: $black;
                        font-weight: 700;
                        font-size: 22px;
                    }
                }
                .small__content {
                    margin-top: 0.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    justify-content: space-between;

                    .zzz {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .small__topnews {
                            width: 255px;

                            .small__instruct {
                                .small__imgs {
                                    width: 255px;
                                    height: 148px;
                                    overflow: hidden;
                                    margin-bottom: 0.7rem;
                                    .small__img {
                                        width: 100%;
                                        height: 100%;
                                        background-image: url(./images/T-Time/image32.png);
                                        transition: 0.6s;
                                    }
                                    .small__img:hover {
                                        transform: scale(1.2);
                                    }
                                }
                            }
                            .small__meta {
                                .metas {
                                    display: flex;
                                    align-items: center;
                                    .meta__days {
                                        display: flex;
                                        align-items: center;
                                        .meta__img {
                                            width: 19px;
                                            margin-right: 0.25rem;
                                        }
                                        .meta__date {
                                            color: #808080;
                                            font-size: $font-14px;
                                            font-weight: 400;
                                        }
                                    }
                                    .meta__seen {
                                        display: flex;
                                        align-items: center;
                                        .meta__img {
                                            margin-left: 0.5rem;
                                            width: 19px;
                                        }
                                        .meta__seens {
                                            margin-left: 0.2rem;
                                            color: #808080;
                                            font-size: $font-14px;
                                            font-weight: 400;
                                        }
                                    }
                                }
                                .small__text {
                                    .text {
                                        color: $black;
                                        font-weight: 600;
                                        font-size: 18px;
                                        line-height: 23px;
                                        margin: 0.5rem 0;
                                        font-style: normal;
                                        letter-spacing: 0.2px;
                                    }
                                    .news__made {
                                        display: flex;
                                        align-items: center;

                                        .country {
                                            font-size: $font-14px;
                                            color: #808080;
                                            line-height: 16px;
                                            font-weight: normal;
                                        }
                                        .country:nth-child(2) {
                                            margin-left: 0.5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .zzz:nth-child(2) {
                        .small__topnews {
                            .small__instruct {
                                .small__imgs {
                                    .small__img {
                                        background-image: url(./images/T-Time/image26.png);
                                    }
                                }
                            }
                        }
                    }
                }
                .small__content:nth-child(3) {
                    display: flex;
                    align-items: baseline;
                    .zzz:nth-child(1) {
                        .small__topnews {
                            .small__instruct {
                                .small__imgs {
                                    .small__img {
                                        background-image: url(./images/T-Time/image25.png);
                                    }
                                }
                            }
                        }
                    }
                    .zzz:nth-child(2) {
                        .small__topnews {
                            .small__instruct {
                                .small__imgs {
                                    .small__img {
                                        background-image: url(./images/T-Time/image27.png);
                                    }
                                    .small__img:hover {
                                        transform: scale(1.2);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .user__modal {
        position: absolute;
        transform: translateY(-200%);
        font-family: "Inter", sans-serif;
        height: 93vh;
        width: 100%;
        // position: fixed;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/T-Time/image42.png);
        opacity: 0;
        visibility: hidden;
        .users {
            width: 510px;
            height: 640px;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 5px;
            .sign__up {
                margin-top: 2rem;
                display: flex;
                justify-content: space-evenly;
                .connect {
                    width: 182px;
                    height: 42px;
                    outline: none;
                    background: transparent;
                    font-size: 14px;
                    font-weight: 600;
                    color: $black;
                    background: #fff;
                    border-radius: 5px;
                }
                .connect:hover {
                    background-color: #f00;
                }
            }
            .user__img {
                margin-top: 2rem;
                text-align: center;
                .img {
                    width: 25px;
                    height: 25px;
                }
                .account {
                    font-weight: 500;
                    font-size: 18px;
                    color: $white;
                }
            }
            .email {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .name__email {
                    margin-top: 1.5rem;
                    display: flex;
                    align-items: center;
                    position: relative;
                    img {
                        position: absolute;
                        transform: translateX(15%);
                        width: 29px;
                        height: 29px;
                    }
                    .input__mail {
                        width: 374px;
                        height: 50px;
                        outline: none;
                        padding-left: 2.5rem;
                        font-size: 17px;
                        font-weight: 400;
                        border-radius: 5px;
                    }
                    .input__mail:focus {
                        border: 2px solid #f00;
                    }
                }
                .email__lock {
                    margin-top: 1.5rem;
                    display: flex;
                    align-items: center;
                    position: relative;
                    img {
                        position: absolute;
                        transform: translateX(18%);
                        width: 23px;
                        height: 23px;
                    }
                    .input__lock {
                        width: 374px;
                        height: 50px;
                        padding-left: 2.5rem;
                        font-weight: 400;
                        outline: none;
                        font-size: 17px;
                        border-radius: 5px;
                    }
                    .input__lock:focus {
                        border: 2px solid #f00;
                    }
                }
                .signs {
                    text-align: center;
                    .sign {
                        display: none;
                        margin-top: 1.5rem;
                        width: 374px;
                        height: 50px;
                        outline: none;
                        background-color: #fff;
                        border-radius: 5px;
                        color: #bfbfbf;
                        font-weight: 400;
                        font-size: 17px;
                    }
                    .sign:hover {
                        background-color: #f00;
                        color: #fff;
                    }
                    .sign:nth-child(1) {
                        display: block;
                    }
                }
                .aforizm {
                    margin-top: 1.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    color: #fff;

                    .check {
                        border: 2px solid white;
                        box-shadow: 0 0 0 1px #392;
                        appearance: none;
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        background-color: #fff;
                        transition: all ease-in 0.2s;
                    }
                    .check:checked {
                        background-color: #0688e6;
                    }
                    .text {
                        font-weight: 500;
                        font-style: normal;
                        font-size: 14px;
                        width: 50%;
                        margin-left: 0.8rem;
                        line-height: 17px;
                        .tex {
                            color: #0688e6;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .user__link {
                display: flex;
                justify-content: space-evenly;
                width: 60%;
                margin: 0 auto;
                .link {
                    margin-top: 1.5rem;
                    width: 84px;
                    height: 50px;
                    background-color: #fff;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .links {
                        width: 28px;
                        height: 28px;
                    }
                }
            }
            .user__text {
                color: #fff;
                font-size: 14px;
                font-weight: 500;
                margin-top: 1.5rem;
                text-align: center;
            }
        }
    }
    .user__modal.active {
        transform: translateY(-100%);
        opacity: 1;
        visibility: visible;
    }
    .enter__modal {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Inter", sans-serif;
        width: 100%;
        height: 100vh;
        background-image: url(./images/T-Time/Rectangle712.png);
        .enter__main {
            margin: 0 auto;
            width: 510px;
            height: 850px;
            background: #fff;
            border-radius: 5px;
            text-align: center;
            .gender__img {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .male {
                    margin-top: 0.8rem;
                    width: 149px;
                    height: 119px;
                    border: 1px solid #d9d9d9;
                    border-radius: 5px;
                    padding: 1.5rem;
                }
            }
            .name {
                position: relative;
                margin-top: 0.8rem;
                .name__img {
                    width: 29px;
                    height: 29px;
                    position: absolute;
                    left: 14%;
                    top: 17.5%;
                }
                .name__type {
                    width: 374px;
                    height: 50px;
                    padding-left: 2.5rem;
                    font-size: 17px;
                    font-weight: 400;
                    border: 1px solid #d9d9d9;
                    outline: none;
                }
            }
            .change__locked{
                font-size: 18px;
                font-weight: 400;
                color: #f00;
            }
            .review{
                position: relative;
                .recode__img{
                    position: absolute;
                    width: 23px;
                    height: 23px;
                    z-index: 1;
                }
                .name{
                    width: 374px;
                    height: 50px;
                    padding-left: 2.5rem;
                    font-size: 17px;
                    font-weight: 400;
                    border: 1px solid #d9d9d9;
                    outline: none;
                }
            }
        }
    }
}
